<div class="text-center">
  <div class="h1 font-weight-bold mb-5">
    The Cosmeticについて
  </div>
  このサイトは、ランキングで人気のコスメが</br>
ひと目でわかるオンラインショッピングサイトです。</br>
気になるコスメのリアルな口コミを見ることができます。</br>
<%= image_tag 'flower2.jpg', size: "300x300" %>
</div>