<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card2 mt-5 ">
        <img class="card-img" src="/assets/flower.jpg" alt="">
           <div class="card-img-overlay mt-3">
           <div class="box1 text-center">
            <div class="small">The Cosmeticはリアルな口コミが見れる</div>
            <div class="small">コスメ通販サイトです。</div>
            <div class="small">お買い物には会員登録が必要です。</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>