<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card2 mt-5">
        <img class="card-img" src="/assets/flower.jpg" alt="">
           <div class="card-img-overlay mt-3">
           <div class="box1 text-center">
            <div class="small">The Cosmeticはリアルな口コミが見れる</div>
            <div class="small">コスメ通販サイトです。</div>
            <div class="small">お買い物には会員登録が必要です。</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 text-center">
      <h2 class="mt-2 mb-3 mr-5 font-weight-bold text-secondary">RANKING</h2>
      <% @items.each do |item| %>
        <div class="mb-2">
          <div class="row">
            <div class="col-md-6 border-bottom">
              <% if item.image.attached? %>
                <%= image_tag item.image, class: 'img-fluid', size: '120x120' %>
              <% end %>
            </div>
            <div class="col-md-6 text-left border-bottom">
              <h5><%= item.name %></h5>
              <%= simple_format(item.introduction) %>
              <div class="mb-3 pl-5">
              &yen; <%= item.price %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>