<div class="container">
  <div class="text-center">
    <div class="font-weight-bold h2 mt-5 mb-5">
    会員一覧
    </div>
      <div class="text-left mb-3">
        <%= link_to "商品レビュー履歴", admin_customer_comments_path(@comments), class: "btn btn-outline-info" %>
      </div>
      <table class="table table-bordered mb-5">
        <th class="col-md-2">会員ID</th>
        <th class="col-md-4">氏名</th>
        <th class="col-md-2">メールアドレス</th>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
        <td><%= customer.email %></td>
      </tr>
      <% end %>
      </table>
  </div>
</div>