@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p {
 line-height: 0.95em;
 font-weight:bold;
 color: white;
 text-shadow:
 0 0 0.05em #AAAAAA,
 0 0 0.10em #AAAAAA,
 0 0 0.15em #AAAAAA,
 0 0 0.30em #AAAAAA;
 //font-variation-settings: 'wght' 20;
 font-family: Courier New;
}

.card {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.card::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 10px 15px #FFF;
}

.card {
  width: 200%;
}