<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mt-5 mb-5">
      <%= image_tag @items.image, size: "350x250" %>
    </div>
    <div class="col-md-4 h2 mt-5 font-weight-bold">
      <%= @items.name %>
      
    </div>
  </div>
</div>